/*-------------------------------------------------*/
/* Estilos para diferentes tamanhos de tela */
/*-------------------------------------------------*/
@media screen and (max-width: 768px) {
    /* Ajuste para telas menores */
    .wrapper {
        flex-direction: column; /* Alterado para empilhar os elementos verticalmente em telas menores */
    }
    .main {
        width: 100%; /* Alterado para ocupar toda a largura em telas menores */
    }
    .menu {
        padding-bottom: 20px; /* Adicionado para separar o menu do conteúdo */
    }
    .menu ul li {
        display: block; /* Alterado para empilhar os itens do menu verticalmente em telas menores */
        margin-bottom: 10px; /* Adicionado para espaçar os itens do menu */
    }
    .menu ul li a {
        padding: 10px 0; /* Alterado para remover o preenchimento horizontal dos itens do menu */
    }
}

/*-----------------------------------*/
    /* Estilos para telas grandes */
/*-----------------------------------*/
html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%; /* Alterado para 100% para ocupar toda a largura da tela */
    max-width: 1500px; /* Adicionado para definir a largura máxima */
    display: flex;
    margin: 0 auto;
    background: linear-gradient(to bottom,#3498db,#ffffff);
}
.main {
    display: block; /* Corrigido para 'block' */
    flex-flow: column;
    width: 85%;
}


/*----------------------------*/
    /* Estilos para o menu */
/*----------------------------*/
.menu {
    background-color: #3498db;
    width: 100%; /* Adicionado para ocupar toda a largura do wrapper */
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Adicionado para centralizar os itens do menu */
}

.menu ul li {
    display: inline-block; /* Alterado para inline-block para que os itens fiquem na mesma linha */
}

.menu ul li a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: #2980b9;
}


/*----------------------------*/
    /* Estilos para botões */
/*----------------------------*/
.button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2f80b9;
}

/*----------------------------*/
    /* Estilo  das tabelas */
/*----------------------------*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/*----------------------------------------------*/
/* Estilos para o formulário de contato */
/*----------------------------------------------*/
.container {
    max-width: 600px;
    margin:  auto;
    padding: 20px;
    
}
.content{ /*Alinhando o texto no  centro da pag */
    text-align: center;
}

.contact-info, .contact-form {
    margin-bottom: 40px;
    text-align: center;
}

.contact-form {
    margin: 0 auto 40px;
    max-width: 600px;
    text-align: center; /* Alinhar os elementos ao centro */
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 70%; /* Alterado para ocupar toda a largura */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left; /* Alinhar o texto interno à esquerda */
}

.contact-form textarea {
    resize: vertical;
}

.buttons {
    text-align: center;
}

.buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:last-child {
    margin-right: 0;
}

.map-container {
    width: 600px; /* Defina a largura desejada para o mapa */
    margin: 0 auto; /* Centralize horizontalmente */
}

/*----------------------------------------------*/
            /* Estilos para o rodapé */
/*----------------------------------------------*/
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
    width: 100%; /* Adicionado para ocupar toda a largura */
    margin-top: 20px; /* Adicionado espaçamento entre o conteúdo e o rodapé */
    color: #fff; /* Cor do texto no rodapé */
    text-align: center; /* Alinhar o texto ao centro */
    padding: 20px 0; /* Espaçamento interno */
}
  

.contact-info {
    max-width: 600px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centralizar horizontalmente */
}
